<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
    <style>
        .empty {
            border-color: red;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" v-bind:class='{empty: !count}' v-model="value">
    <input type="button" value="发送" v-on:click="send">
    <div v-if="count">value is : {{value}}</div>
    <div>count is : {{count}}</div>
</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: function () {
            return {value: 'xxxy'}
        },
        methods: {
            send: function() {
                if (!this.count) {
                    alert('pls input something: ');
                    return
                }
                alert('send success');
                this.value = ''
            }
        },
        computed: {
            count: function() {
                return this.value.length
            }
        }
    })
</script>
</html>
